.promo {
    height: 974px;
    background: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    padding: 40px 120px 0;
    &__title{
        width: 730px;
        height: 231px;
    }
    &__wrap {
        margin-top: 101px;
        display: flex;
        justify-content: space-between;
        padding: 0 45px;
    }
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}

.menu {
    min-width: 557px;
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: #fff;
    }
}